 NET "clk_i" LOC= "B8"; # Bank = 0 , Pin name = IP_L13P_0/GCLK8 , Type = GCLK , Sch name = GCLK0

 NET "led_o<0>" LOC= "J14"; # Bank = 1 , Pin name = IO_L14N_1/A3/RHCLK7 , Type = RHCLK/DUAL , Sch name = JD10/LD0
 NET "led_o<1>" LOC= "J15"; # Bank = 1 , Pin name = IO_L14P_1/A4/RHCLK6 , Type = RHCLK/DUAL , Sch name = JD9/LD1
 NET "led_o<2>" LOC= "K15"; # Bank = 1 , Pin name = IO_L12P_1/A8/RHCLK2 , Type = RHCLK/DUAL , Sch name = JD8/LD2 
 NET "led_o<3>" LOC= "K14"; # Bank = 1 , Pin name = IO_L12N_1/A7/RHCLK3/TRDY1 , Type = RHCLK/DUAL , Sch name = JD7/LD3 
 NET "led_o<4>" LOC= "E17"; # Bank = 1 , Pin name = IO , Type = I/O , Sch name = LD4? 
 NET "led_o<5>" LOC= "P15"; # Bank = 1 , Pin name = IO , Type = I/O , Sch name = LD5? 
 NET "led_o<6>" LOC= "F4"; # Bank = 3 , Pin name = IO , Type = I/O , Sch name = LD6? 
 NET "led_o<7>" LOC= "R4"; # Bank = 3 , Pin name = IO/VREF_3 , Type = VREF , Sch name = LD7? 
 NET "led_o<4>" LOC= "E16"; # Bank = 1 , Pin name = N.C. , Type = N.C. , Sch name = LD4? other than s3e500
 NET "led_o<5>" LOC= "P16"; # Bank = 1 , Pin name = N.C. , Type = N.C. , Sch name = LD5? other than s3e500
 NET "led_o<6>" LOC= "E4"; # Bank = 3 , Pin name = N.C. , Type = N.C. , Sch name = LD6? other than s3e500
 NET "led_o<7>" LOC= "P4"; # Bank = 3 , Pin name = N.C. , Type = N.C. , Sch name = LD7? other than s3e500

 NET "sw_i<0>" LOC= "G18"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW0 
 NET "sw_i<1>" LOC= "H18"; # Bank = 1 , Pin name = IP/VREF_1 , Type = VREF , Sch name = SW1 
 NET "sw_i<2>" LOC= "K18"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW2 
 NET "sw_i<3>" LOC= "K17"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW3
 NET "sw_i<4>" LOC= "L14"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW4
 NET "sw_i<5>" LOC= "L13"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW5
 NET "sw_i<6>" LOC= "N17"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW6
 NET "sw_i<7>" LOC= "R17"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = SW7

 #NET "EppAstb" LOC= "V14"; # Bank = 2 , Pin name = IP_L23P_2 , Type = INPUT , Sch name = U-FLAGA
 NET "fx2_wr_full_i" LOC= "U14"; # Bank = 2 , Pin name = IP_L23N_2 , Type = INPUT , Sch name = U-FLAGB
 NET "fx2_rd_empty_i" LOC= "V16"; # Bank = 2 , Pin name = IP , Type = INPUT , Sch name = U-FLAGC
 
 NET "fx2_data_io<0>" LOC= "R14"; # Bank = 2 , Pin name = IO_L24N_2/A20 , Type = DUAL , Sch name = U-FD0
 NET "fx2_data_io<1>" LOC= "R13"; # Bank = 2 , Pin name = IO_L22N_2/A22 , Type = DUAL , Sch name = U-FD1
 NET "fx2_data_io<2>" LOC= "P13"; # Bank = 2 , Pin name = IO_L22P_2/A23 , Type = DUAL , Sch name = U-FD2
 NET "fx2_data_io<3>" LOC= "T12"; # Bank = 2 , Pin name = IO_L20P_2 , Type = I/O , Sch name = U-FD3
 NET "fx2_data_io<4>" LOC= "N11"; # Bank = 2 , Pin name = IO_L18N_2 , Type = I/O , Sch name = U-FD4
 NET "fx2_data_io<5>" LOC= "R11"; # Bank = 2 , Pin name = IO , Type = I/O , Sch name = U-FD5
 NET "fx2_data_io<6>" LOC= "P10"; # Bank = 2 , Pin name = IO_L15N_2/D1/GCLK3 , Type = DUAL/GCLK , Sch name = U-FD6
 NET "fx2_data_io<7>" LOC= "R10"; # Bank = 2 , Pin name = IO_L15P_2/D2/GCLK2 , Type = DUAL/GCLK , Sch name = U-FD7

 #NET "fx2_clk_i" CLOCK_DEDICATED_ROUTE = FALSE; 
 #NET "fx2_clk_i" LOC= "T15"; # Bank = 2 , Pin name = IO/VREF_2 , Type = VREF , Sch name = U-IFCLK

 NET "fx2_slcs_o" LOC= "T16"; # Bank = 2 , Pin name = IO_L26P_2/VS0/A17 , Type = DUAL , Sch name = U-SLCS
 NET "fx2_slrd_o" LOC= "N9";  # Bank = 2 , Pin name = IO_L12P_2/D7/GCLK12 , Type = DUAL/GCLK , Sch name = U-SLRD
 NET "fx2_sloe_o" LOC= "V15"; # Bank = 2 , Pin name = IO_L25P_2/VS2/A19 , Type = DUAL , Sch name = U-SLOE
 NET "fx2_slwr_o" LOC= "V9"; # Bank = 2 , Pin name = IO_L13N_2/D3/GCLK15 , Type = DUAL/GCLK , Sch name = U-SWLR
 NET "fx2_pktend_o" LOC= "V12"; # Bank = 2 , Pin name = IO_L19P_2 , Type = I/O , Sch name = U-PKTEND

# NET "UsbMode" LOC= "U15"; # Bank = 2 , Pin name = IO_L25N_2/VS1/A18 , Type = DUAL , Sch name = U-INT0#

 NET "fx2_fifo_addr_o<0>" LOC= "T14"; # Bank = 2 , Pin name = IO_L24P_2/A21 , Type = DUAL , Sch name = U-FIFOAD0
 NET "fx2_fifo_addr_o<1>" LOC= "V13"; # Bank = 2 , Pin name = IO_L19N_2/VREF_2 , Type = VREF , Sch name = U-FIFOAD1

 NET "btn_i<0>" LOC= "B18"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = BTN0
 NET "btn_i<1>" LOC= "D18"; # Bank = 1 , Pin name = IP/VREF_1 , Type = VREF , Sch name = BTN1
 NET "btn_i<2>" LOC= "E18"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = BTN2
 NET "btn_i<3>" LOC= "H13"; # Bank = 1 , Pin name = IP , Type = INPUT , Sch name = BTN3